*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #014E56;
    font-family: "Livvic";
}
header{
    padding-bottom: 120px;
    background-image: url(../images/about1.png); 
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.continer{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 165px;
    padding-right: 165px;
    /* background-color: beige; */
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    margin-bottom: 129px;
}
.nav-2{
    display: flex;
    gap: 80px;
    align-items: center;
}
.myteam{
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
}

.nav-2 ul{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}
.nav-2 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "Livvic";
}
.contact{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 33px;

}
.contact a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header_foot{
    display: flex;
    justify-content: space-between;
    
}
.header_foot h1{
    font-size: 64px;
    color: white;
    max-width: 600px;
}
.chiziqcha{
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    border-radius: 20px;
}
.header_foot p{
    max-width: 730px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 28px;
    align-items: center;
    margin-top: 40px;
}



.section1{
    padding: 140px  165px;
    background-color: #004047;
}
.section1 *{
    background-color: #004047;
}
.section1 h1{
    text-align: center;
    margin-bottom: 64px;
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.users{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.users2{
    display: flex;
    gap: 30px;
}
.user{
    height: 253px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 127px 56px 127px;
    background-image: url(../images/card.png);
}

.user span{
    font-size: 18px;
    font-weight: 700;
    color: #79C8C7;
    margin-top: 16px;
}
.user p{
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 28px;
}





footer{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.footer1{
    background-color:#F67E7E;
    padding: 76px 261px;
    display: flex;
    flex-direction: row;
    color:#012F34;
    justify-content: space-between;
    background-image:  url(../images/Group\ 8.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.footer1 *{
    background-color:#F67E7E;
}

.footer1 h1{
    font-size: 48px;
    font-weight: 700;
}
.footer1 button{
    border: 1px solid #012F34 ;
    border-radius: 30px;
    padding: 10px 33px;
    color: #012F34;
    font-size: 18px;
}





.section2{
    padding: 140px 165px;
    background-color: #012F34;
    background-image: url(../images/section22.svg);
    background-repeat: no-repeat;
}
.section2 *{
    background-color: #012F34;
}
.section2 h1{
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 64px;
}


.footer2{
    padding: 48px 165px;
    background-color: #002529;
}
.footer2 *{
    background-color: #002529;
}
.footer2_2{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer2_3 p{
    width: 140px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    opacity: 60%;
}

.footer2_4{
    display: flex;
    gap: 51px;
    flex-direction: column;
    margin-left: 350px;
}
.footer2_4 div{
    display: flex;
    gap: 16px;
    margin-left: 150px;
}
.footer2_4 p{
    font-size: 15px;
    font-weight: 600;
    color: white;
    opacity: 60%;
}


@media(max-width: 1200px){
    .footer1{
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer2{
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer2_4{
        margin-left: 10px;
    }
}

@media(max-width: 870px){
    nav{
       flex-direction: column;
       align-items: center;
    }
    
    .section_1{
        display: flex;
        flex-direction: column;
    }
    footer{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .users{
        display: flex;
        flex-direction: row;
    }
    .users2{
        flex-direction: column;
        gap: 48px;
    }
    .user{
        width: 281px;
    }
    .section2{

        background-image: url(../images/Group\ 5\ \(1\).png);
        background-position: 37% 70%;
    }
    .section2 img{
        display: none;
    }
}

@media(max-width:1000px){
    .users{
        display: flex;
        flex-direction: row;
    }
    .users2{
        flex-direction: column;
        gap: 48px;
    }
    .user{
        width: 281px;
    }
}


@media (max-width: 768px) {
    .continer{
        margin-right: auto;
        margin-left: auto;
        max-width: 689px;
        padding: 0;
    }

    header{
        max-width: 760px;
        padding-bottom: 120px;
        background-image: url(../images/about1.png); 
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
    
    nav{
        padding: 0 40px;
    }
    .nav-2{
        gap: 20px;
    }
    .header_foot{
        max-width: 680px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 112px;
        
    }
    .header_foot h1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 64px;
       
    }
    .header_foot .chiziqcha{
        display: none;
    }
    .header_footer_1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_foot p{
        max-width: 430px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    


   
    .section_1 h1{
        margin-top: 32px;
        font-size: 32px;
        text-align: center;
        max-width: 445px;
    }

    .section_2{
        padding: 100px 97px;
    }
    .section_2 h1{
        font-size: 32px;
    }


    .footer1{
        padding: 76px 97px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .footer1 h1{
        font-size: 30px;
        max-width: 200px;
    }
    .footer1 button{
        max-width: 153px;
    }

    footer{
        padding: 0px 50px;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
.footer2{
    padding: 56px 39px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.myteam{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    justify-content: space-between;
}

.footer2_2{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer2_4{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer2_4 div{
    margin: 0;
    display: flex;
    max-width: 700px;
}
.footer2_4 p{
    font-size: 15px;
    font-weight: 600;
    color: white;
    opacity: 60%;
}

}


@media(max-width:1250px){
    .user{
        max-width: 200px;
    }
}


@media (max-width: 500px){
    nav{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-2{
        gap: 20px;
    }
    nav button{
        max-width: 200px;
    }
    .users2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .users{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .footer1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .myteam{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        justify-content: space-between;
    }
    .footer2_4{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 375px){
    .continer{
        max-width: 327px;
        padding: 0;
    }
    .header_continer{
        background-image: url(../images/Group\ 7\ \(32\).png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
    .nav-2{
        flex-direction: column;
    }
    .header_footer{
        margin: 0;
        padding: 0;
        padding-bottom: 197px;
    }
    .header_footer h1{
        font-size: 40px;
        max-width: 250px;
    }
    .header_footer p{
        max-width: 327px;;
    }
    .Experienced{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}